<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    Body {
            Background-color: #c3cdd3;
        }
        
  </style>
        <title>Sani Enterprise </title>
    </head>
    <body>
        <div class="container">
            <h2 class="text-info"><b>Sani Enterprise Add product</b></h2>
            <form class="form-horizontal" th:action="@{/admin/create}" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                  <label class="control-label col-sm-2 " for="id">Product ID:</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" id="id" placeholder="ID" name="id" readonly>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" for="name">Product Name:</label>
                  <div class="col-sm-10">          
                    <input type="text" th:field="*{product.product_name}" class="form-control" id="name" placeholder="Enter product name" name="product_name">
                  </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="desc">Product Description:</label>
                    <div class="col-sm-10">
                      <input type="text" th:field="*{product.product_description}" class="form-control" id="desc" placeholder="Enter description" name="desc">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-2" for="price">Product Price:</label>
                    <div class="col-sm-10">          
                      <input type="text" th:field="*{product.price}" class="form-control" id="price" placeholder="Enter product price" name="price">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-2" for="quantity">Quantity:</label>
                    <div class="col-sm-10">
                      <input type="quantity" th:field="*{product.quantity}" class="form-control" id="quantity" placeholder="Enter Quantity" name="quantity">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-2" for="style">Product Style:</label>
                    <div class="col-sm-10">          
                      <input type="text" th:field="*{product.style}" class="form-control" id="style" placeholder="Enter product style" name="style">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-2" for="width">Product Width:</label>
                    <div class="col-sm-10">
                      <input type="number" th:field="*{product.width}" class="form-control" id="width" placeholder="Enter width" name="width">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-2" for="height">Product Height:</label>
                    <div class="col-sm-10">          
                      <input type="number" th:field="*{product.height}" class="form-control" id="height" placeholder="Enter product height" name="height">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-2" for="length">Product Length:</label>
                    <div class="col-sm-10">
                      <input type="length" th:field="*{product.length}" class="form-control" id="length" placeholder="Enter length" name="length">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-2" for="status">Product Status:</label>
                    <div class="col-sm-10">          
                      <select class="form-control" title="select" name="product_status">
                        <option th:each="s : ${statuses}" th:value="${s}" th:text="${s}">!EMPTY</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-2" for="category">Product Category:</label>
                    <div class="col-sm-10">
                      <select class="form-control" title="select" name="category">
                        <option th:each="x : ${categories}" th:value="${x}" th:text="${x}">!EMPTY</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-2" for="pic">Product Image:</label>
                    <div class="col-sm-10">          
                      <input type="file" class="form-control" id="pic"  name="image_parts" accept="image/*" multiple>
                    </div>
                  </div>
                <div class="form-group">        
                  <div class="col-sm-offset-2 col-sm-10">
                    
                    <button type="submit" class="btn btn-secondary"  ><b>Back</b></button>
                    <a th:href="@{/admin/create}"><span class="btn btn-secondary"><b>Reset</b></span></a>
                    <button type="submit" class="btn btn-info"><b>Submit</b></button> 
                
                  </div>
                </div>
              </form>
          </div>
    </body>
</html>