<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body style="padding-top: 100px">

	    <nav class="navbar bg-body-tertiary fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand text-decoration-none" th:href="@{/admin/dashboard}"><span class="fs-1">Admin Dashboard > Profile</span></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel"></h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <!-- ... -->
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/admin/dashboard}"><i class="bi bi-house-door-fill"></i> Dashboard</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/create}"><i class="bi bi-plus-circle-fill"></i> Create Product</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/users}"><i class="bi bi-people-fill"></i> Users</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/products}"><i class="bi bi-basket-fill"></i> Products</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="bi bi-person-circle"></i> Auth
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" th:href="@{/admin/profile}"><i class="bi bi-person-fill"></i> Profile</a></li>
                      <li><a class="dropdown-item" th:href="@{/admin/register}"><i class="bi bi-person-plus-fill"></i> Register</a></li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item text-danger-emphasis" th:href="@{/logout}"><i class="bi bi-box-arrow-right"></i> Log Out</a></li>
                    </ul>
                  </li>
                </ul>
            </div>
          </div>
        </div>
      </nav>

      <!-- CONTENT HERE  -->
      <div class="container py-5">
          <div class="row">
              <div class="col-lg-6 mx-auto">
                  <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);">
                      <div class="card-body">
                          <div class="text-center mb-4">
                              <img th:src="${admin.image}" alt="Admin" style="border-radius: 50%; width: 200px; height: 200px; object-fit: cover;">
                          </div>
                          <h5 class="card-title text-center mb-3">Admin Profile</h5>
                          <table class="table table-striped">
                              <tbody>
                                  <tr>
                                    <td><strong>Patron ID:</strong></td>
                                    <td th:text="${admin.id}">PATRON ID</td>
                                  </tr>
                                  <tr>
                                    <td><strong>Username:</strong></td>
                                    <td th:text="${admin.username}">USERNAME</td>
                                  </tr>
                                  <tr>
                                    <td><strong>Name:</strong></td>
                                    <td th:text="${admin.name}">NAME</td>
                                  </tr>
                                  <tr>
                                    <td><strong>Surname:</strong></td>
                                    <td th:text="${admin.surname}">SURNAME</td>
                                  </tr>
                                  <tr>
                                    <td><strong>Contact Number:</strong></td>
                                    <td th:text="${admin.contact}">CONTACT NUMBER</td>
                                  </tr>
                                  <tr>
                                    <td><strong>Email:</strong></td>
                                    <td th:text="${admin.email}">EMAIL</td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>


      
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>
