<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>        
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <title>Home page</title>

</head>
<body class="bg-dark">
  <!--nav-->
  <nav class="navbar navbar-expand-lg" style= "background-color: #47524e" >
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand text-warning fw-bold px-2 mx-2" th:href="@{/}">Sani Enterprise</a>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link text-light" th:href="@{/}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" aria-current="page" th:href="@{/home/about}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-light fw-bold" th:href="@{/shop/category}">Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" th:href="@{/home/contact}">Contact</a>
          </li>
        </ul>
      </div>
      <div class="d-block justify-content-end ">
        <a  th:href="@{/shop/cart}" class="btn" data-bs-toggle="offcanvas" data-bs-target="#cartOffcanvas" role="button" aria-controls="cartOffcanvas">
          <i class="bi bi-cart-fill fs-3"></i>
          <!-- <span class="badge bg-danger rounded-pill" th:value="${cart.total_number}">NUMBER OF PRODUCTS IN THE CART</span> -->
        </a>
      </div>
      <div class="dropdown d-block justify-content-end ">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" >
          <i class="bi bi-person fs-3"></i>
        </button>
        <ul class="dropdown-menu" >
          <li><a class="dropdown-item" th:href="@{/login}">login</a></li>
          <li><a class="dropdown-item" th:href="@{/logout}">logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
    <!-- Offcanvas -->

  <section class="text-center text-light  my-3">
    <h1>Categories</h1>
  </section>
  <!--categories-->
  <section class="bg-dark">
    <div class="container-fluid">
        <div class="row justify-content-evenly my-5">
            <div class="card g-0" style="width: 18rem;">
                <img th:src="@{/images/tvstand.jpg}" class="card-img-top" alt="...">
                <div class="card-body" style="background-color: #9c9c9c79">
                    <h5 class="card-title text-center">TV Stand</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a th:href="@{/shop/browse(category='TV_STAND')}" class="btn btn-outline-primary">view</a>
                </div>
            </div>
            <div class="card g-0" style="width: 18rem;">
                <img th:src="@{/images/coffee.jpg}" class="card-img-top" alt="...">
                <div class="card-body" style="background-color: #9c9c9c79">
                    <h5 class="card-title text-center">Coffee Table</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a th:href="@{/shop/browse(category='COFFEE_TABLE')}" class="btn btn-outline-secondary">view</a>
                </div>
            </div>
            <div class="card g-0" style="width: 18rem;">
                <img th:src="@{/images/console.jpg}" class="card-img-top" alt="...">
                <div class="card-body" style="background-color: #9c9c9c79">
                    <h5 class="card-title text-center">Console Table</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a th:href="@{/shop/browse(category='CONSOLE_TABLE')}" class="btn btn-outline-primary">view</a>
                </div>
            </div>
            <div class="card g-0" style="width: 18rem;">
                <img th:src="@{/images/occasion.jpg}" class="card-img-top" alt="...">
                <div class="card-body" style="background-color: #9c9c9c79">
                    <h5 class="card-title text-center">Occasional Chair</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a th:href="@{/shop/browse(category='OCCASIONAL_CHAIR')}" class="btn btn-outline-secondary">view</a>
                </div>
            </div>
        </div>
        
        <div class="row justify-content-evenly my-5">
            <div class="card g-0" style="width: 18rem;">
                <img th:src="@{/images/carp.jpg}" class="card-img-top" alt="...">
                <div class="card-body" style="background-color: #9c9c9c79">
                    <h5 class="card-title text-center">Carpet</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a th:href="@{/shop/browse(category='CARPET')}" class="btn btn-outline-primary">view</a>
                </div>
            </div>
            <div class="card g-0" style="width: 18rem;">
                <img th:src="@{/images/ds.jpg}" class="card-img-top" alt="...">
                <div class="card-body" style="background-color: #9c9c9c79">
                    <h5 class="card-title text-center">Dining Set</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a th:href="@{/shop/browse(category='DINING_SET')}" class="btn btn-outline-secondary">view</a>
                </div>
            </div>
            <div class="card g-0" style="width: 18rem;">
                <img th:src="@{/images/bchair.jpg}" class="card-img-top" alt="...">
                <div class="card-body" style="background-color: #9c9c9c79">
                    <h5 class="card-title text-center">Bar Chair</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a th:href="@{/shop/browse(category='BAR_CHAIR')}" class="btn btn-outline-primary">view</a>
                </div>
            </div>
            <div class="card g-0" style="width: 18rem;">
                <img th:src="@{/images/loves.jpg}" class="card-img-top" alt="...">
                <div class="card-body" style="background-color: #9c9c9c79">
                    <h5 class="card-title text-center">Love Seat</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a th:href="@{/shop/browse(category='LOVE_SEAT')}" class="btn btn-outline-secondary">view</a>
                </div>
            </div>
        </div>
        <div class="row justify-content-evenly my-5">
            <div class="card g-0" style="width: 18rem;">
                <img th:src="@{/images/head.jpeg}" class="card-img-top" alt="...">
                <div class="card-body" style="background-color: #9c9c9c79">
                    <h5 class="card-title text-center">Headboard</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a th:href="@{/shop/browse(category='HEADBOARD')}" class="btn btn-outline-primary">view</a>
                </div>
            </div>
            <div class="card g-0" style="width: 18rem;">
                <img th:src="@{/images/ped.jpeg}" class="card-img-top" alt="...">
                <div class="card-body" style="background-color: #9c9c9c79">
                    <h5 class="card-title text-center">Pedestal</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a th:href="@{/shop/browse(category='PEDESTAL')}" class="btn btn-outline-secondary">view</a>
                </div>
            </div>
            <div class="card g-0" style="width: 18rem;">
                <img th:src="@{/images/dressta.jpg}" class="card-img-top" alt="...">
                <div class="card-body" style="background-color: #9c9c9c79">
                    <h5 class="card-title text-center">Dressing Table</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a th:href="@{/shop/browse(category='DRESSING_TABLE')}" class="btn btn-outline-primary">view</a>
                </div>
            </div>
            <div class="card g-0" style="width: 18rem;">
                <img th:src="@{/images/sleeperc.jpg/}" class="card-img-top" alt="...">
                <div class="card-body" style="background-color: #9c9c9c79">
                    <h5 class="card-title text-center">Sleeper Couch</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a th:href="@{/shop/browse(category='SLEEPER_COUCH')}" class="btn btn-outline-secondary">view</a>
                </div>
            </div>
        </div>
        <div class="row justify-content-evenly my-5">
            <div class="card g-0" style="width: 18rem;">
                <img th:src="@{/images/studys.jpg}" class="card-img-top" alt="...">
                <div class="card-body" style="background-color: #9c9c9c79">
                    <h5 class="card-title text-center">Study Table</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a th:href="@{/shop/browse(category='STUDY_TABLE')}" class="btn btn-outline-primary">view</a>
                </div>
            </div>
            <div class="card g-0" style="width: 18rem;">
                <img th:src="@{image/}" class="card-img-top" alt="...">
                <div class="card-body" style="background-color: #9c9c9c79">
                    <h5 class="card-title text-center">Used Fridge</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a th:href="@{/shop/browse(category='USED_FRIDGE')}" class="btn btn-outline-secondary">view</a>
                </div>
            </div>
            <div class="card g-0" style="width: 18rem;">
                <img th:src="@{/images/}" class="card-img-top" alt="...">
                <div class="card-body" style="background-color: #9c9c9c79">
                    <h5 class="card-title text-center">Bathroom Caddy</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a th:href="@{/shop/browse(category='BATHROOM_CADDY')}" class="btn btn-outline-primary">view</a>
                </div>
            </div>
        </div>
    </div>
</section>


      <!--footer-->
      <footer class="fixed-bottom text-center " style= "background-color: #3a3d3d">
        <!-- Grid container -->
        <div class="container py-3 ">
          <!-- Section: Social media -->
          <section class="mb-0 fs-3">
            <!-- Facebook -->
            <i class="bi bi-facebook" style="color: dodgerblue;"></i>
            <i class="bi bi-google" style="color: white;"></i>
            <i class="bi bi-instagram" style="color: magenta;"></i>
            <i class="bi bi-whatsapp" style="color: limegreen;"></i>
          </section>
          <!-- Section: Social media -->
        </div>
      </footer>

      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>
